# List

In [15]:
# Empty list
my_list = []

# List with values
numbers = [1, 2, 3, 4, 5]
mixed = [10, "Python", 3.14, True]
nested = [[1, 2], [3, 4]]

print(numbers[0])  
print(numbers[-1])  
print(numbers[1:4])

1
5
[2, 3, 4]

In [16]:
# modifying list
numbers.append(6)  # Add at the end
print(numbers)

numbers.insert(2, 99)  # Insert at index 2
print(numbers)

numbers.remove(3)  # Remove element 3
print(numbers)

numbers.pop()  # Removes last element
print(numbers)

numbers[0] = 100  # Modifying element at index 0
print(numbers)

[1, 2, 3, 4, 5, 6]
[1, 2, 99, 3, 4, 5, 6]
[1, 2, 99, 4, 5, 6]
[1, 2, 99, 4, 5]
[100, 2, 99, 4, 5]

In [11]:
# List Operations
list1 = [1, 2, 3]
list2 = [4, 5, 6]

combined = list1 + list2  # Concatenation
repeated = list1 * 2  # Repetition
length = len(list1)  # Length
print("combined",combined,"repeated",repeated,"length ",length)

combined [1, 2, 3, 4, 5, 6] repeated [1, 2, 3, 1, 2, 3] length  3

In [9]:
# List Comprehensions
squares = [x**2 for x in range(10)]
evens = [x for x in range(10) if x % 2 == 0]
print(squares)
print(evens)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8]

# Tuples

In [25]:
my_tuple = (1, 2, 3)
single_element = (5,) 
nested_tuple = ((1, 2), (3, 4))

In [26]:
print(my_tuple[0])  # First element
print(my_tuple[-1])  # Last element

1
3

In [27]:
new_tuple = my_tuple + (4, 5, 6)  # Concatenation
print(new_tuple)

rep_tuple = my_tuple * 2  # Repetition
print(rep_tuple)

length = len(my_tuple)  # Length
print(length)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)
3

# Dictionary

In [36]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print(my_dict)

empty_dict = {}
print(empty_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
{}

In [37]:
print(my_dict["name"])  # Access value

my_dict["age"] = 26  # Modify value
print(my_dict)

my_dict["job"] = "Engineer"  # Add new key-value pair\
print(my_dict)

del my_dict["city"]  # Delete a key-value pair
print(my_dict)

Alice
{'name': 'Alice', 'age': 26, 'city': 'New York'}
{'name': 'Alice', 'age': 26, 'city': 'New York', 'job': 'Engineer'}
{'name': 'Alice', 'age': 26, 'job': 'Engineer'}

In [38]:
print(my_dict.keys())  # Get all keys
print(my_dict.values())  # Get all values
print(my_dict.items())  # Get all key-value pairs

dict_keys(['name', 'age', 'job'])
dict_values(['Alice', 26, 'Engineer'])
dict_items([('name', 'Alice'), ('age', 26), ('job', 'Engineer')])

In [39]:
squares = {x: x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

# Sets

In [45]:
my_set = {1, 2, 3, 4, 5}
print(my_set)
another_set = set([1, 2, 2, 3, 4])  # Removes duplicates
print(another_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}

In [46]:
my_set.add(6)  # Add element
print(my_set)

my_set.remove(3)  # Remove element (error if not found)
print(my_set)

my_set.discard(10)  # Remove element (no error if not found)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{1, 2, 4, 5, 6}

In [47]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A | B)  # Union
print(A & B)  # Intersection
print(A - B)  # Difference

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

# Practice

Basic Questions

Create a list with elements from 1 to 10 and remove all even numbers.

Reverse a tuple (10, 20, 30, 40, 50).

Write a function that counts the frequency of each word in a given sentence.

Given a list of numbers, create a set of all unique numbers.

In [30]:
# 1
a = 10
my_list = []
for i in range (a):
    if i % 2 == 0:
        my_list.append(i)
print(my_list)

# 2 
for_Tuple = (10, 20, 30, 40, 50)
bac_Tuple = () 
for i in range(len(for_Tuple)):
    bac_Tuple += (for_Tuple[i],)  

print(bac_Tuple) 

# 3
to_find = "sumit is a bad boy, sumit"
a = "sumit"

count = to_find.count(a)  
print(f"'{a}' appears {count} times.")

# 4
a = [1,2,3,4,4,5,6,7,6,7,8,9,7,3,3,4,3,4,5,6,3,2,2]
another_set = set(a)
print(another_set)

[0, 2, 4, 6, 8]
(10, 20, 30, 40, 50)
'sumit' appears 2 times.
{1, 2, 3, 4, 5, 6, 7, 8, 9}

Intermediate Challenges

Write a program that takes a dictionary of students and their marks, and finds the student with the highest marks.

Given a tuple (10, 20, [30, 40]), try changing 30 to 300 (Hint: Lists inside tuples are mutable!).

Merge two dictionaries without using the update() method.

In [7]:
# 5
students_marks = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}
top_student = max(students_marks, key=students_marks.get)
top_marks = students_marks[top_student]

print(f"The top student is {top_student} with {top_marks} marks.")

# 6
a = (10, 20, [30, 40])
print("before",a)
a[2][0] = 300
print("after",a)

# 7
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

merged_dict = dict1.copy()  
for key, value in dict2.items():
    merged_dict[key] = value

print(merged_dict)

The top student is David with 95 marks.
before (10, 20, [30, 40])
after (10, 20, [300, 40])
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Advanced & Tricky Challenges

Write a one-liner dictionary comprehension that maps numbers from 1 to 10 to their cube values only if they are even.

Find the intersection of two sets without using the & operator.

In [14]:
# 8
cubes = {x: x**3 for x in range(1, 11) if x % 2 == 0}
print(cubes)

# 9
a = {1, 2, 3, 4}
b = {1, 2, 4, 5, 6, 7, 8, 9}

common_elements = set()  

for element in a:
    if element in b:  
        common_elements.add(element)

print(f"Common elements: {common_elements}")

# 10

{2: 8, 4: 64, 6: 216, 8: 512, 10: 1000}
Common elements: {1, 2, 4}